<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Org name here</title>

        <link rel="stylesheet" href="./css/aboutus.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/footer.css">
    </head>

    <header>
        <button class="headerButtons">
            <a id="login">Log in</a>
        </button>
        <button class="headerButtons">
            <a id="dashboard" href="./dashboard.html">Dashboard</a>
        </button>
        <button>
            <a id="homeL" href="./index.html">Home</a>
        </button>
        <br>
        <hr id="headerLineSep">
        <div class="headerButtons">
            <button>
                <a id="needhelp" href="./needhelp.html">Need help?</a>
            </button>
            <button>
                <a id="contactus" href="./contactus.html">Contact us</a>
            </button>
            <button>
                <a id="aboutus" href="./aboutus.html">About us</a>
            </button>
            <button>
                <a id="getinvolved" href="./getinvolved.html">Get involved</a>
            </button>
            
            <button class="">
                <a id="donate" href="./donate.html">Donate</a>
            </button>
        </div>
    </header>



    <body>
        <br>
        <br>
        <div class="pad">

            <h1 style="text-align:center;">Get to know us</h1>
            <p style=>We don't judge, we just help those who need it. We are a non-profit organization that began in Canada
                with a group of friends who were passionate about helping those who are less fortunate. At the beginning, we were only
                a group of 5 friends that were helping out our local community. Over time, we expanded and started an organization so that
                we can reach out and help others who are in farther communities than our local area. We only want to see the smile
                on those who we've help. Now, we are an organization that has several branches across the world, and able to offer help in
                many areas other than only shelter and food.
            </p>
    
            <h1 style="text-align:center;">What We Do</h1>
            <p style="text-align:center;"> We strive to provide any necessary services to those who need it. We hope to
            end homelessness and allow everyone be become self-sufficient</p>
                <h3 style="text-align:center;">We provide various services such as</h2>
                    <p style="text-align:center;">
                        Food services <br>
                        Housing and Shelter <br>
                        Education <br>
                        Social Services <br>
                        Clothing <br>
                        Employment opportunities <br>
                    </p>
    
            <h1 style="text-align:center;">Our Vision and Mission</h1>
            <h3 style="text-align:center;">Our vision and mission is to end homelessness and hunger</h3>
            <h3 style="text-align:center;">To achieve our vision and mission, we have a set of values and beliefs that we follow</h3>
            <p style="text-align:center;"> We truly believe in our vision of ending homelessness and hunger.<br>
                All people should have the right to a permanent shelter where one calls home.<br>
                We believe in taking action. We know failing is a possibility, we will use them as a
                stepping stone towards out goal. <br>
                We will act with the utmost respect and integrity for all parties involved as we work
                towards our goal as we believe respect and integrity is a basic human right.<br>
                We believe in providing hope and opportunity for those who are struggling. <br>
                We are committed to equity, diversity and inclusion – We will model and promote equity, 
                diversity and inclusion in our organization and our work. <br>
                We seek to take a leadership role in opening doors to greater equity, success and opportunity for marginalized Canadians struggling in 
                homelessness and housing instability. We are vocal advocates for the voice of lived experience 
                and the empowerment of people experiencing homelessness.<br></p>
            <h1 style="text-align:center;">Our Team</h1>
            <h2>Our founder and president: Dwight Schrute</h2>
            <p> <img src="./img/dwight.jpg" style="float:left; height:10%;width:10%;">
                Mr. Schrute first worked as a salesman under a paper distribution company. Then one day Mr.
                Schrute saw the less fortunate on the streets and thought of how fortunate his life is.
                At that moment, Mr. Schrute gathered a group of his friends to help the homeless around his
                local community.
                </p><br><br><br><br><br><br><br><br><br><br><br>
            <h2>Our co-founder: Michael Scott</h2>
            <p> <img src="./img/michaelscott.jpg" style="float:left; height:10%;width:10%;">
                Mr. Scott was the manager at the paper distribution company that Mr. Schrute worked at. Mr. Scott
                saw Mr. Schrute's kind actions and decided that he wanted to also help out his local community.
                Mr. Scott donates a large sum of his funds towards Mr. Schrute's cause and actively takes part in
                helping out those who are less fortunate than him.
            </p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h2>Chief Financial Officer: Angela Martin</h2>
            <p> <img src="./img/angela.jpg" style="float:left; height:10%;width:10%;">
                Angela Martin was an accountant at the paper distribution company that Mr. Scott and Mr. Schrute works at.
                She is excellant at keeping finances and as such, she decided to volunteered to help the group make the most
                with the donations to help as many people as possible.
            </p><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h2>Public Relations Officer: Pamela Beesly</h2>
            <p> <img src="./img/pamela.jpg" style="float:left; height:6%;width:10%;">
                Pamela Beesly also works at the company the Mr. Schrute works at. One day, Pamela saw Mr. Schrute
                helping a homeless person and she was inspired. She volunteered to join Mr. Schrute's group and decided to
                take on the role of managing public relations in order to grow their organization and dream. Pamela is
                in charge of planning public events such as charity events. She plays a huge role in bringing awareness to
                the homelessness problem and urging anyone who can help to help.
            </p> <br><br><br><br><br><br><br><br><br><br><br><br>

            <h2>Chief Operating Officer: Jim Halpert</h2>
            <p> <img src="./img/jim.jpg" style="float:left; height:6%;width:10%;">
                Jim Halpert was inspired by Mr. Schrute's actions to help out the community. So one day, Mr. Halpert decides to
                join Mr. Schrute on his journey to help the less fortunate. Mr. Halpert is in charge of a lot of the behind
                the scenes activities. He takes care of hiring personnel and helping out volunteers in the field. He is extremely
                passionate about this job and is excited to help the company grow.
            </p> <br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
            <div style="text-align:center">
                <h1>Our Partners</h1>
                <a href="https://salvationarmy.ca/">The Salvation Army</a><br>
                <a href="https://caeh.ca/">Canadian Alliance to End Homelessness</a><br>
                <a href="https://www.helpfeedthehomeless.org/">Angels of Mercy</a><br>
                <a href="https://covenanthousetoronto.ca/">Convenant House</a>
            </div>
        </div>

    </body>

    <footer>
        <hr id="footerLineSep">
        <div class="space">
            <a class="left" href="contactus.html">Contact us</a> <a class="mid" href="twitter.com">Twitter</a> <a class="right" href="https://www.google.com/maps/place/University+of+Saskatchewan/@52.1334003,-106.6335469,17z/data=!3m1!4b1!4m5!3m4!1s0x5304f6b0fa94a483:0x797aa81f58d9c92a!8m2!3d52.1334003!4d-106.6313582">123 Address Street</a>
            <a class="left" href="aboutus.html">About us</a> <a class="mid" href="facebook.com">Facebook</a> <a class="right" href="tel:306-123-4567">306-123-4567</a>
            <a class="left" href="donate.html">Donate</a> <a class="mid" href="youtube.com">YouTube</a> <a class="right" href="mailto:helphomelessness@helpus.ca">helphomelessness@helpus.ca</a>
            <a class="left" href="getinvolved.html">Get Involved</a> <a class="mid" href="instagram.com">Instagram</a> <a class="right" href="contactus.html">FAQ</a>
            <a class="left" href="needhelp.html">Need help?</a> <a class="mid" href="linkedin.ca">LinkedIn</a> <p class="right">Open Mon. to Sat. from 7:00 AM to 8:00 PM</p>
        </div>
    </footer>

</html>