<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="stylesheet" href="./css/aboutus.css">
    </head>



    <div id="header"></div>



    <body>


        <div class="container">
            <div class="row row-content section" style="margin-top: 120px">
                <div class="col-12 d-flex justify-content-center">
                    <h1>Get to know us</h1>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p>We don't judge, we just help those who need it. We are a non-profit organization that began in Canada
                        with a group of friends who were passionate about helping those who are less fortunate. At the beginning, we were only
                        a group of 5 friends that were helping out our local community. Over time, we expanded and started an organization so that
                        we can reach out and help others who are in farther communities than our local area. We only want to see the smile
                        on those who we've help. Now, we are an organization that has several branches across the world, and able to offer help in
                        many areas other than only shelter and food.
                    </p>
                </div>
            </div>

            <div class="row row-content section">
                <div class="col-12 d-flex justify-content-center">
                    <h1>What we do</h1>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p style="text-align:center;"> We strive to provide any necessary services to those who need it. We hope to
                        end homelessness and allow everyone be become self-sufficient
                    </p>

                </div>
                <h3 style="text-align:center;">We provide various services such as</h3>
                <p style="text-align:center;">
                    Food services <br>
                    Housing and Shelter <br>
                    Education <br>
                    Social Services <br>
                    Clothing <br>
                    Employment opportunities <br>
                </p>
            </div>

            <div class="row row-content section">
                <div class="col-12 d-flex justify-content-center">
                    <h1 style="text-align:center;">Our Vision and Mission</h1>
                </div>
                <div clas="col-12 d-flex justify-content-center">
                    <p style="text-align:center;">Our vision and mission is to end homelessness and hunger</p>
                </div>
                <p style="text-align:center;">To achieve our vision and mission, we have a set of values and beliefs that we follow</p>
                <p style="text-align:center;"> We truly believe in our vision of ending homelessness and hunger.<br>
                    All people should have the right to a permanent shelter where one calls home.<br>
                    We believe in taking action. We know failing is a possibility, we will use them as a
                    stepping stone towards out goal. <br>
                    We will act with the utmost respect and integrity for all parties involved as we work
                    towards our goal as we believe respect and integrity is a basic human right.<br>
                    We believe in providing hope and opportunity for those who are struggling. <br>
                    We are committed to equity, diversity and inclusion – We will model and promote equity,
                    diversity and inclusion in our organization and our work. <br>
                    We seek to take a leadership role in opening doors to greater equity, success and opportunity for marginalized Canadians struggling in
                    homelessness and housing instability. We are vocal advocates for the voice of lived experience
                    and the empowerment of people experiencing homelessness.<br></p>
            </div>

            <div class="row row-content section">
                <h1 style="text-align: center">Our Team</h1>

                <div class="row row-content align-items-center miniSection" style="margin-top: 50px;">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h1>Founder and president</h1>
                    </div>

                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="float-start d-flex mr-3 img-thumbnail align-self-center" src="img/dwight.jpg" alt="dwight"
                                 style="margin-right:10px; height: 300px; width:auto;">
                            <div class="media-body">
                                <h2 class="mt-0 media-heading">Dwight Schrute</h2>
                                <p class="d-none d-sm-block">Mr. Schrute first worked as a salesman under a paper distribution company. Then one day Mr.
                                    Schrute saw the less fortunate on the streets and thought of how fortunate his life is.
                                    At that moment, Mr. Schrute gathered a group of his friends to help the homeless around his
                                    local community.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-content align-items-center miniSection">
                    <div class="col-12 col-sm-4 col-md-3">
                        <h1>Co-founder and vice-president</h1>
                    </div>
                    <div class="col col-sm col-md">
                        <div class="media">
                            <img class="float-end d-flex me-3 img-thumbnail align-self-center" src="img/michaelscott.jpg" alt="mike">
                            <div class="media-body">
                                <h2>Michael Scott</h2>
                                <p class="d-none d-sm-block">Mr. Scott was the manager at the paper distribution company that Mr. Schrute worked at. Mr. Scott saw Mr. Schrute's kind actions and decided that he wanted to also help out his local community. Mr. Scott donates a large sum of his funds towards Mr. Schrute's cause and actively takes part in helping out those who are less fortunate than him.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-content align-items-center miniSection" style="margin-top: 50px;">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h1>Chief Financial Officer</h1>
                    </div>

                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="float-start d-flex mr-3 img-thumbnail align-self-center" src="img/angela.jpg" alt="angela"
                                 style="margin-right:10px; height: 300px; width:auto;">
                            <div class="media-body">
                                <h2 class="mt-0 media-heading">Angela Martin</h2>
                                <p class="d-none d-sm-block">Angela Martin was an accountant at the paper distribution company that Mr. Scott and Mr. Schrute works at. She is excellant at keeping finances and as such, she decided to volunteered to help the group make the most with the donations to help as many people as possible.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-content align-items-center miniSection">
                    <div class="col-12 col-sm-4 col-md-3">
                        <h1>Public Relations Officer</h1>
                    </div>
                    <div class="col col-sm col-md">
                        <div class="media">
                            <img class="float-end d-flex me-3 img-thumbnail align-self-center" src="img/pamela.jpg" alt="pam">
                            <div class="media-body">
                                <h2>Pamela Beesly</h2>
                                <p class="d-none d-sm-block">Pamela Beesly also works at the company the Mr. Schrute works at. One day, Pamela saw Mr. Schrute helping a homeless person and she was inspired. She volunteered to join Mr. Schrute's group and decided to take on the role of managing public relations in order to grow their organization and dream. Pamela is in charge of planning public events such as charity events. She plays a huge role in bringing awareness to the homelessness problem and urging anyone who can help to help.</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row row-content align-items-center miniSection" style="margin-top: 50px;">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h1>Chief Operation Officier</h1>
                    </div>

                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="float-start d-flex mr-3 img-thumbnail align-self-center" src="img/jim.jpg" alt="jim"
                                 style="margin-right:10px; height: 300px; width:auto;">
                            <div class="media-body">
                                <h2 class="mt-0 media-heading">Jim Halpert</h2>
                                <p class="d-none d-sm-block">Jim Halpert was inspired by Mr. Schrute's actions to help out the community. So one day, Mr. Halpert decides to join Mr. Schrute on his journey to help the less fortunate. Mr. Halpert is in charge of a lot of the behind the scenes activities. He takes care of hiring personnel and helping out volunteers in the field. He is extremely passionate about this job and is excited to help the company grow.</p>
                            </div>
                        </div>
                    </div>
                </div>





            </div>


        </div>


    </body>


    <div id="footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>


    <script>

        $(() => {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        })

    </script>

</html>