<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Org name here</title>

        <link rel="stylesheet" href="./css/header.css">
    </head>

    <header>
        <button class="headerButtons">
            <a id="login">Log in</a>
        </button>
        <button class="headerButtons">
            <a id="dashboard" href="./dashboard.html">Dashboard</a>
        </button>
        <button>
            <a id="homeL" href="./index.html">Home</a>
        </button>
        <br>
        <hr id="headerLineSep">
        <div class="headerButtons">
            <button>
                <a id="needhelp" href="./needhelp.html">Need help?</a>
            </button>
            <button>
                <a id="contactus" href="./contactus.html">Contact us</a>
            </button>
            <button>
                <a id="aboutus" href="./aboutus.html">About us</a>
            </button>
            <button>
                <a id="getinvolved" href="./getinvolved.html">Get involved</a>
            </button>
            
            <button class="">
                <a id="donate" href="./donate.html">Donate</a>
            </button>
        </div>
    </header>

    <body onload=load()>
        <button><a href="./customer.html">Back to customer details</a></button>
        <h1>Customer Information</h1>
        <p id="id"></p>
        <p id="name"></p>
        <p id="sin"></p>
        <p id="phone"></p>
        <p id="email"></p>
        <p id="dob"></p>
        <p id="occ"></p>
        <h3>Report/Summary</h2>
        <textarea id="report" name="report" rows="50" cols="120"></textarea><br>
        <button onclick="saveEdit()">Save Edit</button>
    </body>




    <script>
        
        function load(){
            var http = new XMLHttpRequest;
            http.open("GET", "/customer/customerMore")
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    var data = JSON.parse(http.response);
                    document.getElementById("id").innerHTML=`<b>Customer ID: </b>
                                    <p style="display: inline-block" id="idVal">${data.id}</p>`;
                    document.getElementById("name").innerHTML=`<b>Full Name (First Last): </b>${data.name}`;
                    document.getElementById("sin").innerHTML=`<b>SIN: </b>${data.sin}`
                    document.getElementById("phone").innerHTML=`<b>Phone Number: </b>${data.phone}`
                    document.getElementById("email").innerHTML=`<b>Email: </b>${data.email}`
                    document.getElementById("dob").innerHTML=`<b>Date of Birth: </b>${data.dob}`
                    document.getElementById("occ").innerHTML=`<b>Occupation: </b>${data.occ}`
                    if(data.report == null){
                        console.log("No report")
                    }
                    else{
                        document.getElementById("report").value=`${data.report}`
                    }
                    // console.log(document.getElementById("idVal").innerHTML);
                }
            }
            http.send();
        }
        
        function saveEdit(){
            var http = new XMLHttpRequest;
            http.open("PUT", "/customer/saveReport");
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    alert("Report saved!");
                }
            }
            http.send(`data=${document.getElementById("report").value}&&id=${document.getElementById("idVal").innerHTML}`);
        }


    </script>
</html>