<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Org name here</title>

        <link rel="stylesheet" href="./css/dashboard.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/footer.css">
    </head>

    <header>
        <button class="headerButtons">
            <a id="login">Log in</a>
        </button>
        <button class="headerButtons">
            <a id="dashboard" href="./dashboard.html">Dashboard</a>
        </button>
        <button>
            <a id="homeL" href="./index.html">Home</a>
        </button>
        <br>
        <hr id="headerLineSep">
        <div class="headerButtons">
            <button>
                <a id="needhelp" href="./needhelp.html">Need help?</a>
            </button>
            <button>
                <a id="contactus" href="./contactus.html">Contact us</a>
            </button>
            <button>
                <a id="aboutus" href="./aboutus.html">About us</a>
            </button>
            <button>
                <a id="getinvolved" href="./getinvolved.html">Get involved</a>
            </button>
            <button class="">
                <a id="donate" href="./donate.html">Donate</a>
            </button>
        </div>
    </header>



    <body>
        <div class="selection">
            <h3><a href="./staff.html">Staff Management</a></h3>
            <h3><a href="./customer.html">Customer Management</a></h3>
            <h3><a href="./inquiry.html">Customer Inquiries</a></h3>
        </div>
    </body>

    <footer>
        <hr id="footerLineSep">
        <div class="space">
            <a class="left" href="contactus.html">Contact us</a> <a class="mid" href="twitter.com">Twitter</a> <a class="right" href="https://www.google.com/maps/place/University+of+Saskatchewan/@52.1334003,-106.6335469,17z/data=!3m1!4b1!4m5!3m4!1s0x5304f6b0fa94a483:0x797aa81f58d9c92a!8m2!3d52.1334003!4d-106.6313582">123 Address Street</a>
            <a class="left" href="aboutus.html">About us</a> <a class="mid" href="facebook.com">Facebook</a> <a class="right" href="tel:306-123-4567">306-123-4567</a>
            <a class="left" href="donate.html">Donate</a> <a class="mid" href="youtube.com">YouTube</a> <a class="right" href="mailto:helphomelessness@helpus.ca">helphomelessness@helpus.ca</a>
            <a class="left" href="getinvolved.html">Get Involved</a> <a class="mid" href="instagram.com">Instagram</a> <a class="right" href="contactus.html">FAQ</a>
            <a class="left" href="needhelp.html">Need help?</a> <a class="mid" href="linkedin.ca">LinkedIn</a> <p class="right">Open Mon. to Sat. from 7:00 AM to 8:00 PM</p>
        </div>
    </footer>


















</html>