<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="stylesheet" href="./css/donation.css">
    </head>


    <div id="header"></div>


    <body>



        <div class="jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-6">
                        <h1>Your donation matters!</h1>
                        <p>We greatly appreciate any and all donations that you send to us.
                        We always do our best to make the best use of the donations, such as providing
                        shelter, food, education, health care services amongst other things with your
                        donations!
                        <br><br>
                            <h3>As always, HelpTheHomeless thanks you!</h3></p>
                    </div>
                </div>
            </div>
        </div>






        <div class="pad">
            <h1>How much we've raised so far</h1>
            <img src="img/donationBar.png" style="float:right; width:25%; height:25%">
            <p>So far this year, we've raised a total of: <h3>$1,512,442/$5,000,000</h3></p>
            <table>
                <h3><u>Our previous years</u></h3>:
                <tbody>
                    <tr>
                        <th>Year</th>
                        <td>2017</td>
                        <td>2018</td>
                        <td>2019</td>
                        <td>2020</td>
                    </tr>
                    <tr>
                        <th>Amount Raised</th>
                        <td>$100,560</td>
                        <td>$531,234</td>
                        <td>$1,501,231</td>
                        <td>$2,134,144</td>
                    </tr>
                </tbody>
                
            </table><br>
            <button onclick="maintenance()">I'd like to donate!</button>

            <h1>I want to help but I have no spare funds!</h1>
                <img src="img/fundraising.jpg" style="height:35%; width:35%;">
                <p>There are plenty of other ways to help us! Financial donations aren't the only way!</p>
                <p>If you're interested in a fundraiser or a charity event, please <a href="contactus.html">contact us</a> so that we
                    may arrange the necessary actions to support you! We appreciate your kindness greatly!
                </p>
                <p>You could also simply help us by bringing awareness to our organization and the problems
                    that we are trying to solve. Just mention us to your friends or family or give us a shout
                    out on social media, we'll greatly appreciate that!
                </p>
            <h1>What we do with your donations!</h1>
                <p>We believe in being completely transparent in what we do with your kind donations!</p>
                <p>If you would like a more comprehensive break down of how your donations are being used, please
                    download <a href="#">this PDF</a> for the previous year's donation funds usage.
                </p>
                <h2>There are several categories that we use a large majority of the funds on, some of which are</h2>
                <h3>Shelter</h3>
                <img src="img/shelter.jpg">
                <p>We believe that everyone should have a place to rest and feel safe! So each year, we spend a large
                    portion of donation funds on supporting our shelters around the nation. These funds are used in 
                    helping to pay for building maintenance, rent, repairs, improvements and much more! We make sure
                    to create a safe and comfortable environment for all people who come to our shelter.
                </p>
                <h3>Basic living necessities</h3>
                <img src="img/basicneeds.png" style="width:25%; height:25%">
                <p>Basic living necessities include food, water, and clothing. These three items are of utmost importance
                    to all those who come seek help. We want to make sure that they are well-fed, have water and adequate clothing
                    to protect them from the cold Canadian winters. We also spend a large portion of the donations on food
                    to send them out for those who need it as well as buying food for our shelters so that all can be well-fed.
                </p>
                <h3>Education</h3>
                <img src="img/education.jpg" style="width:25%; height:25%">
                <p>We truly believe that education provide opportunities. As such, we strive to provide as much education as possible to
                    those who need it. We support all those who need an education, no matter what age they are.
                </p>
                <h3>Health Care</h3>
                <img src="img/healthcare.jpg" style="width:25%; height:25%">
                <p>There are many who lack health care insurance, so one of our goal is to provide adequate health care funds for
                    those who need it so that they do not become gravely ill. We place great importance on patients who are suffering
                    from a grave disease that require urgent treatment but do not have the money or insurance to help pay off the
                    medical bills.
                </p>
        </div>



    </body>




    <div id="footer"></div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <script>

        $(() => {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        })


        function maintenance() {
            alert("Sorry, our donation button is currently under maintenance!\nThank you for your kindness and thoughtfulness!")
        }
    </script>
</html>


