<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Help The Homeless</title>
        <!-- Bootstrap, font-awesome, bootstraps-social. -->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">-->
        <link href="./css/footer.css" rel="stylesheet">
    </head>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a style="text-decoration:none" href="index.html">Home</a></li>
                        <li><a style="text-decoration:none" href="contactus.html">Contact</a></li>
                        <li><a style="text-decoration:none" href="aboutus.html">About</a></li>
                        <li><a style="text-decoration:none" href="getinvolved.html">Get Involved</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5> Address </h5>
                    <address>
                        <span class="fa fa-address-book fa-lg"></span>123 Saskatoon Street<br>
                        <span class="fa fa-phone fa-lg"></span> 306 444 444<br>
                        <span class="fa fa-fax fa-lg"></span>306 555 555<br>
                        <span class="fa fa-envelope fa-lg"></span>helphomelessness@helpus.ca
                    </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com"><span class="fa fa-google fa-lg"></span></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com"><span class="fa fa-youtube fa-lg"></span></a>
                        <a class="btn btn-social-icon btn-linkedin" href="https://ca.linkedin.com"><span class="fa fa-linkedin fa-lg"></span></a>
                        <a class="btn btn-social-icon btn-instagram" href="https://instagram.com"><span class="fa fa-instagram fa-lg"></span></a>
                        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class="fa fa-twitter fa-lg"></span></a>
                        <a class="btn btn-social-icon" href="https://en.wikipedia.org"><span class="fa fa-wikipedia-w fa-lg"></span></a>
                        <a class="btn btn-social-icon" href="mailto:ThaiTestWebsite@gmail.com"><span class="fa fa-envelope fa-lg"></span></a>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p> Copyright 2021</p>
                </div>
            </div>
        </div>
    </footer>


<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>-->
</html>