<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="stylesheet" href="./css/home.css">
    </head>

    <div id="header"></div>
    
    <body>

        <div class="jumbotron" id="jumbHeader">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-6">
                        <h1>Help The Homeless</h1>
                        <p>We strive to help all those who are struggling with poverty, hunger and homelessness. Be
                            part of the change and join us in making everyone's lives better and providing hope for all!
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <img src="./img/logo.png" class="img-fluid" height="200" width="200">
                            </div>
                            <div class="col-12 col-sm-6 align-self-center">
                                <h4>We'd appreciate any kind donations.</h4>
                                <a class="btn btn-success btn-lg" role="btn" href="donate.html">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-content">
                <div class="col col-sm order-sm-first col-md">
                    <div class="media">
                        <img class="float-start d-flex mr-3 img-thumbnail align-self-center img-fluid" src="img/helpinghand.png" alt="helpinghand"
                             style="margin-right:10px; width:25%; height:25%">
                        <div class="media-body">
                            <h1 class="mt-0 media-heading">Do you or someone you know needs help?</h1>
                            <div class="row">
                                <p class="parabody d-none d-md-block">
                                    We know it's very hard to ask someone for help, especially if they're someone whom you've never met before.
                                    We understand that some perceive asking help as a sign of weakness or failure, but that's simply not true.
                                    Asking for help is the first step to getting a person's life back on track, whether it is dealing with
                                    homelessness or any other issue. We understand the fear of asking for help, but we're always here to
                                    provide the best help that we can at all possible times. So if you or someone you know is at risk of
                                    poverty, homelessness or hunger, please click the button below to contact us and read about our services
                                    that we provide. We encourage all who are in need to reach out.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="d-none d-md-block">We're always here to lend a helping hand</h5>
                                    <a class="btn btn-primary" href="needhelp.html">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row row-content">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h1 style="margin-bottom:40px">Our Mission</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="d-none d-md-block">Our end goal and mission is to end all homelessness and hunger. To reach our goal,
                            we strive to provide basic necessities and shelter for anyone and any family that
                            comes through our doors.
                        </h4>
                        <h4 class="d-sm-block d-md-none">Our mission and goal is to end all homelessness and hunger</h4>
                    </div>
                    <div class="col align-self-center">
                        <img class="img-fluid" src="img/Inkedendhomelessness.jpg" style="height:50%; width:50%">
                    </div>
                </div>
            </div>



            <div class="row row-content">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center bg-image" style="background-image: url(img/value.jpg)">
                        <h1 style="margin-bottom: 20px;">Our values</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Quality</b> - providing high quality, client-centred programs and working towards continuous improvement on behalf of the children and families we serve.
                        </p>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Caring</b> - serving our families with respect, dignity, empathy and compassion, and celebrating the diversity and uniqueness of each individual.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Advocacy</b> - working towards ending the cycles of violence and poverty through advocacy and empowerment of our clients.
                        </p>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Collaboration</b> - building effective relationships among clients, volunteers, donors and staff, and seeking opportunities to form partnerships with the broader community.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Integrity</b> - delivering accessible, flexible, and transparent services while acting with integrity in a professional, ethical, non-judgemental, honest manner at all times.
                        </p>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Accountability</b> - measuring, achieving and reporting results and using funder and donor dollars wisely.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Inclusivity</b> - committed to equity, diversity and inclusion – We will model and promote equity, diversity and inclusion in our organization and our work.
                        </p>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <p class="parabody">
                            <b>Mutual Respect</b> - We will act with the utmost respect and integrity for all parties involved as we work towards our goal as we believe respect and integrity is a basic human right.
                        </p>
                    </div>
                </div>

            </div>
        </div>




    </body>



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <script>
        $(() => {
            $("#header").load("header.html");
        })
    </script>





</html>