<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Org name here</title>

        <link rel="stylesheet" href="./css/home.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/footer.css">
    </head>



    <header>
        <button class="headerButtons">
            <a id="login">Log in</a>
        </button>
        <button class="headerButtons">
            <a id="dashboard" href="./dashboard.html">Dashboard</a>
        </button>
        <button>
            <a id="homeL" href="./index.html">Home</a>
        </button>
        <br>
        <hr id="headerLineSep">
        <div class="headerButtons">
            <button>
                <a id="needhelp" href="./needhelp.html">Need help?</a>
            </button>
            <button>
                <a id="contactus" href="./contactus.html">Contact us</a>
            </button>
            <button>
                <a id="aboutus" href="./aboutus.html">About us</a>
            </button>
            <button>
                <a id="getinvolved" href="./getinvolved.html">Get involved</a>
            </button>
            
            <button class="">
                <a id="donate" href="./donate.html">Donate</a>
            </button>
        </div>
        <br>
    </header>



    <body>
        <div class="gethelp">
            <h1 id="homehelp">
                Do you or someone you know need help?
            </h1>
            <img src="./img/pplHelping.jpeg" id="helping">
            <br>
            <h3 id="para1">
                Sometimes, it's scary to ask for help, but we're always here to provide the best help we can.
                If you or someone you know is at risk of poverty, homelessness or hunger, please contact us
                by clicking the button below.
            </h3>
            <button>
                <a href="./needhelp.html">Our Services</a>
            </button>
        </div>
        <br><br><br><br><br><br>
        <hr>
        <div class="mission">
            <h1 id="ourmission">Our Mission</h1>
            <p class="fontStyle" style="text-align: center;">
                <b>
                    Our vision and mission for the future is to end homelessness and hunger.
                </b>
            </p>
            <center><img src="./img/Inkedendhomelessness.jpg" style="height: 20%; width:20%;"></center>
            <h2>Our goals and values</h2>
            <p id="values" class="fontStyle">
                We truly believe in our vision of ending homelessness and hunger.<br>
                All people should have the right to a permanent shelter where one calls home.<br>
                We believe in taking action. We know failing is a possibility, we will use them as a
                stepping stone towards out goal. <br>
                We will act with the utmost respect and integrity for all parties involved as we work
                towards our goal as we believe respect and integrity is a basic human right.<br>
                We believe in providing hope and opportunity for those who are struggling. <br>
                We are committed to equity, diversity and inclusion – We will model and promote equity, 
                diversity and inclusion in our organization and our work. <br>
                We seek to take a leadership role in opening doors to greater equity, success and opportunity for marginalized Canadians struggling in 
                homelessness and housing instability. We are vocal advocates for the voice of lived experience 
                and the empowerment of people experiencing homelessness.<br>
            </p>
        </div>

        <div class="impact">
            <h1 id="ourimpact">Our impact so far</h1>
            <img src="./img/personSmiling.jpeg" style="height:25%;width:25%; margin: auto; display:block;">
            <p class="fontStyle">
                We've helped millions of homeless people off the streets by providing them career opportunities
                with our partners and donors. Our impact reach across the nation with over 300 branches spanning
                across Canada. Each branch has passionate and caring members who are sharing and working towards
                the same goal as we are as an organization. We've helped thousands of homeless teenagers and
                helped them obtain and education and worked with hundreds of thousands of families at risk of
                poverty and homelessness to alleviate their situation. On each and every step of our journey, we
                strive to equally provide any opportunities that we can to those who need it the most.
                We've helped out thousands of communities suffering from loss of employment due to COVID-19.
            </p>
        </div>
        

    </body>




    <footer>
        <hr id="footerLineSep">
        <div class="space">
            <a class="left" href="contactus.html">Contact us</a> <a class="mid" href="twitter.com">Twitter</a> <a class="right" href="https://www.google.com/maps/place/University+of+Saskatchewan/@52.1334003,-106.6335469,17z/data=!3m1!4b1!4m5!3m4!1s0x5304f6b0fa94a483:0x797aa81f58d9c92a!8m2!3d52.1334003!4d-106.6313582">123 Address Street</a>
            <a class="left" href="aboutus.html">About us</a> <a class="mid" href="facebook.com">Facebook</a> <a class="right" href="tel:306-123-4567">306-123-4567</a>
            <a class="left" href="donate.html">Donate</a> <a class="mid" href="youtube.com">YouTube</a> <a class="right" href="mailto:helphomelessness@helpus.ca">helphomelessness@helpus.ca</a>
            <a class="left" href="getinvolved.html">Get Involved</a> <a class="mid" href="instagram.com">Instagram</a> <a class="right" href="contactus.html">FAQ</a>
            <a class="left" href="needhelp.html">Need help?</a> <a class="mid" href="linkedin.ca">LinkedIn</a> <p class="right">Open Mon. to Sat. from 7:00 AM to 8:00 PM</p>
        </div>
    </footer>










</html>