<!DOCTYPE html>
<html lang="en">


    <div id="header"></div>


    <body onload="load()">
        <button><a href="./inquiry.html">Back to inquiries</a></button>
        <h1 id="inquirySubject"></h1>
        <p id="name"></p>
        <p id="email"></p>
        <p><b>Inquiry</b></p>
        <textarea id="inquiryBody" rows=50 cols=120></textarea>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <script>
        $(() => {
            $("#header").load("header.html");
        })
        function load() {
            var http = new XMLHttpRequest;
            http.open("GET", "/inquiry/inquiryDetails")
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    var data = JSON.parse(http.response);
                    document.getElementById("name").innerHTML=`<b>Name: </b>${data.name}`;
                    document.getElementById("email").innerHTML=`<b>Email: </b>${data.email}`
                    document.getElementById("inquirySubject").innerHTML=`${data.subject}`
                    document.getElementById("inquiryBody").innerHTML=data.data
                }
            }
            http.send();
        }
    </script>
</html>