<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="stylesheet" href="css/staff.css">
    </head>

    <div id="header"></div>


    <body onload=loadData(addrow)>
        <div>
            <button><a href="./dashboard.html">Back to Dashboard</a></button>
            <h1>Staff details</h1>
            <button onclick="toggleForm()">Add new staff</button>


<!--            <form id="addStaffForm" action="/staff/addnewstaff" method="POST">-->
<!--                <h2>Add new staff member</h2>-->

<!--                <br>-->
<!--                <label for="jobTitle">Job/Title</label>-->
<!--                <input id="jobTitle" name="jobTitle" type="text"><br>-->

<!--                <label for="name">Name</label>-->
<!--                <input id="name" name="name" type="text"><br>-->

<!--                <label for="dob">Date of Birth</label>-->
<!--                <input id="dob" name="dob" type="date"> <br>-->

<!--                <label for="phonenum">Phone Number</label>-->
<!--                <input id="phonenum" name="phonenum" type="tel"><br>-->

<!--                <label for="addr">Address</label>-->
<!--                <input id="addr" name="addr" type="text"><br>-->

<!--                <label for="email">Email Address</label>-->
<!--                <input id="email" name="email" type="email"><br>-->

<!--                <label for="sin">SIN</label>-->
<!--                <input id="sin" name="sin" type="text"><br>-->

<!--                <button type="submit" onclick="toggleForm(), addStaff()">Submit</button>-->
<!--            </form>-->
            <table id="staffTable" >
                <thead>
                    <tr>
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Job/Title</th>
                    </tr>
                </thead>
                <tbody id="staffTableBody">

                </tbody>
            </table>
        </div>





    <div class="container">
        <div class="table-responsive">
            <div class="table-title" id="staffTableTitle">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Staff Management</h2>
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStaff"><span class="fa fa-user-plus">Add Staff</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="modal fade" id="addStaff">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add new staff</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">

                        <form class="form-inline" action="/staff/addnewstaff" method="POST">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="jobTitle">Job Title</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Ex: Cook">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="name">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Ex: John Doe">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="dob">Date of Birth</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" id="dob" name="dob">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="phonenum">Phone Number</label>
                                <div class="col-md-10">
                                    <input type="tel" class="form-control" id="phonenum" name="phonenum" placeholder="Ex: 123 456 7890">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="addr">Address</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="addr" name="addr" placeholder="Ex: 123 Street">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="email">Email Address</label>
                                <div class="col-md-10">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Ex: jdoe@gmail.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="sin">SIN</label>
                                <div class="col-md-10">
                                    <input type="tel" class="form-control" id="sin" name="sin" placeholder="Ex: 0987 1234 4567">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="addStaff()" id="submitBtn">
                                Submit new staff</button>

                            <div class="alert alert-danger alert-dismissible collapse" role="alert" id="missingField">
                                <strong>Missing required fields!</strong> You need to fill out all required fields below!
                                <button type="button" class="btn-close"></button>
                            </div>


                            <div class="alert alert-success alert-dismissible collapse" role="alert" id="staffSuccess">
                                <strong>Successfully added new staff!</strong>
                                <button type="button" class="btn-close"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>









    </body>

    <div id="footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>



    <script>
        $(() => {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        })

        // Handles all button closing clicks
        $('.btn-close').click(function(){
            $(this).parent().hide("fade");
        });

        function addStaff(){
            var jobtitle = document.getElementById("jobTitle").value;
            var name = document.getElementById("name").value;
            var dob = document.getElementById("dob").value;
            var phone = document.getElementById("phonenum").value;
            var addr = document.getElementById("addr").value;
            var email = document.getElementById("email").value;
            var sin = document.getElementById("sin").value;
            if(jobtitle.length == 0 || name.length == 0 || dob.length == 0 || phone.length == 0 || addr.length == 0 ||
            email.length == 0 || sin.length == 0){
                $("#missingField").show("fade");
                setTimeout(() => {
                    $("#missingField").hide("fade");
                },10000);
            }
            else{
                setTimeout(() => {
                    var http = new XMLHttpRequest;
                    http.open("GET", "/staff/loadstaff", true);
                    http.onreadystatechange = function() {
                        if(http.readyState == 4 && http.status == 200){
                            var data = JSON.parse(http.response);
                            addrow(data[data.length-1]);
                            $("#staffSuccess").show("fade");
                            setTimeout(() => {
                                $("#staffSuccess").hide("fade");
                            }, 5000);
                        }
                    }
                    http.send();
                },500);
            }
        }

        // improve feature: delete a single row rather than overwriting entire data table
        function deleteStaff(id){
            var http = new XMLHttpRequest;
            http.open("DELETE", "/staff/deleteStaff", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    // console.log("deleted staff");
                    // setTimeout(() => {
                    document.getElementById('staffTableBody').innerHTML = '';
                    loadData(addrow);
                    // }, 500)
                }
            }
            http.send(`id=${id}`);
        }

        function showMore(id){
            console.log("showing more about staff");
            var buttonState = document.getElementById(`more${id}`).style.display;
            if(buttonState == "block"){
                document.getElementById(`more${id}`).style.display = "none";
                
            }
            else{
                var http = new XMLHttpRequest;
                http.open("PUT", "/staff/moreInfo");
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                http.onreadystatechange = function() {
                    if(http.readyState == 4 && http.status == 200){
                        setTimeout(() => {
                            var data = JSON.parse(http.response);
                            document.getElementById(`more${id}`).innerHTML = `
                            Date of birth: ${data.dob}<br>
                            Phone number: ${data.phone}<br>
                            Address: ${data.addr}<br>
                            Email: ${data.email}<br>
                            SIN: ${data.sin} `;
                            document.getElementById(`more${id}`).style.display = "block";
                        })
                    }
                    
                }
                http.send(`id=${id}`);
                
            }
        }


        function loadData(callback){
            var http = new XMLHttpRequest;
            http.open("GET", "/staff/loadstaff", true);
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    var data = JSON.parse(http.response);
                    for(var i=0; i<data.length; i+=1){
                        callback(data[i]);
                    }
                }
            }
            http.send();
        }


        function addrow(data){
            var table= document.getElementById("staffTableBody");
            var row = table.insertRow();
            var staffid = row.insertCell(0);
            var name = row.insertCell(1);
            var job = row.insertCell(2);
            
            row.id = `row${data.id}`;
            staffid.innerHTML = data.id;
            staffid.id = `staffid${data.id}`;
            name.innerHTML = data.name;

            var delButton = `<button id="deleteButton" onclick="deleteStaff(${data.id})">Delete</button>`;
            var moreInfo = `<button id="moreButton" onclick="showMore(${data.id})">More Info</button>`
            job.innerHTML = `${data.jobtitle} ${delButton} ${moreInfo}`;
            

            var infoP = document.createElement("p");
            infoP.className = "infoPara";
            infoP.id = `more${data.id}`;
            row.appendChild(infoP);
            
        }
        
    </script>
</html>