<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="stylesheet" href="css/staff.css">
    </head>

    <div id="header"></div>


    <body onload=loadData(addrow)>

        <div class="jumbotron border rounded">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-6">
                        <h1>Staff Management</h1>
                        <p>Administration settings. Add, delete or edit staff information.
                        </p>
                    </div>
                </div>
            </div>
        </div>






    <div class="container">

        <div class="alert alert-success alert-dismissible collapse" role="alert" id="deleteSuccess">
            <strong>Successfully removed staff.</strong>
            <button type="button" class="btn-close alertClose"></button>
        </div>

        <div class="table-responsive">
            <div class="table-title" id="staffTableTitle">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Staff</h2>
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStaff"><span class="fa fa-user-plus">Add Staff</span></button>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover" id="staffTable">
                <thead>
                    <tr class="text-center">
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Job Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="staffTableBody"></tbody>
            </table>
        </div>
    </div>



    <div class="container">
        <div class="modal fade" id="addStaff">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add new staff</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">

                        <form class="form-inline" action="/staff/addnewstaff" method="POST">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="jobTitle">Job Title</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Ex: Cook">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="name">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Ex: John Doe">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="dob">Date of Birth</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" id="dob" name="dob">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="phonenum">Phone Number</label>
                                <div class="col-md-10">
                                    <input type="tel" class="form-control" id="phonenum" name="phonenum" placeholder="Ex: 123 456 7890">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="addr">Address</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="addr" name="addr" placeholder="Ex: 123 Street">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="email">Email Address</label>
                                <div class="col-md-10">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Ex: jdoe@gmail.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2" for="sin">SIN</label>
                                <div class="col-md-10">
                                    <input type="tel" class="form-control" id="sin" name="sin" placeholder="Ex: 098 123 456">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="addStaff()" id="submitBtn">
                                Submit new staff</button>

                            <div class="alert alert-danger alert-dismissible collapse" role="alert" id="missingField">
                                <strong>Missing required fields!</strong> You need to fill out all required fields below!
                                <button type="button" class="btn-close alertClose"></button>
                            </div>

                            <div class="alert alert-danger alert-dismissible collapse" role="alert" id="numErr">
                                <strong>Field input error!</strong> Phone number and SIN can only be numbers!
                                <button type="button" class="btn-close alertClose"></button>
                            </div>


                            <div class="alert alert-success alert-dismissible collapse" role="alert" id="staffSuccess">
                                <strong>Successfully added new staff!</strong>
                                <button type="button" class="btn-close alertClose"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>








    </body>

    <div id="footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>



    <script>
        $(() => {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        })

        // Handles all button closing clicks
        $('.alertClose').click(function(){
            $(this).parent().hide("fade");
        });

        function addStaff(){
            var jobtitle = document.getElementById("jobTitle").value;
            var name = document.getElementById("name").value;
            var dob = document.getElementById("dob").value;
            var phone = document.getElementById("phonenum").value;
            var addr = document.getElementById("addr").value;
            var email = document.getElementById("email").value;
            var sin = document.getElementById("sin").value;
            if(jobtitle.length == 0 || name.length == 0 || dob.length == 0 || phone.length == 0 || addr.length == 0 ||
            email.length == 0 || sin.length == 0){
                $("#missingField").show("fade");
                setTimeout(() => {
                    $("#missingField").hide("fade");
                },10000);
            }
            else{
                setTimeout(() => {
                    var http = new XMLHttpRequest;
                    http.open("GET", "/staff/loadstaff", true);
                    http.onreadystatechange = function() {
                        if(http.readyState == 4 && http.status == 200){
                            var data = JSON.parse(http.response);
                            addrow(data[data.length-1]);
                            $("#staffSuccess").show("fade");
                            setTimeout(() => {
                                $("#staffSuccess").hide("fade");
                            }, 5000);
                        }
                    }
                    http.send();
                },500);
            }
        }

        // improve feature: delete a single row rather than overwriting entire data table
        function deleteStaff(id){
            var http = new XMLHttpRequest;
            http.open("DELETE", "/staff/deleteStaff", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    document.getElementById('staffTableBody').innerHTML = '';
                    loadData(addrow);
                    $("#deleteSuccess").show("fade");
                    setTimeout(() => {
                        $("#deleteSuccess").hide("fade");
                    }, 5000);
                }
            }
            http.send(`id=${id}`);
        }

        function showMore(id){
            var http = new XMLHttpRequest;
            http.open("PUT", "/staff/moreInfo", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    setTimeout(() => {
                        var data = JSON.parse(http.response);
                        document.getElementById(`more${id}`).innerHTML = `
                        <div class="row">
                            <div class="alert alert-success alert-dismissible collapse" role="alert" id="updateSuccess${id}">
                                <strong>Successfully updated customer!</strong>
                                <button type="button" class="btn-close alertClose"></button>
                            </div>
                            <div class="alert alert-danger alert-dismissible collapse" role="alert" id="updateFailed${id}">
                                <strong>Missing fields!</strong> Please make sure all fields are filled out!
                                <button type="button" class="btn-close alertClose"></button>
                            </div>
                            <div class="col-9">
                                <h3>Staff ID: ${id}</h3>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" style="float: right;" onclick="update(${id})">
                                    Save Edit<span class="fa fa-pencil"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="name${id}">Full Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="name${id}" name="name${id}" value="${data.name}">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="jobtitle${id}">Job Title</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="jobtitle${id}" name="jobtitle${id}" value="${data.jobtitle}">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="dob${id}">Date of Birth</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="dob${id}" name="dob${id}" value="${data.dob}">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="phonenum${id}">Phone Number</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="phonenum${id}" name="phonenum${id}" value="${data.phone}">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="addr${id}">Address</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="addr${id}" name="addr${id}" value="${data.addr}">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="email${id}">Email</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="email${id}" name="email${id}" value="${data.email}">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-md-2" for="sin${id}">SIN</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="sin${id}" name="sin${id}" value="${data.sin}">
                            </div>
                        </div> `;
                    })
                }
            }
            if(document.getElementById(`more${id}`).innerHTML === ""){
                console.log("Requesting data from server...")
                http.send(`id=${id}`);
            }
        }


        function update(id){

            var http = new XMLHttpRequest;
            http.open("PUT", "/staff/updateInfo");
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    // console.log("Update work")
                    $(`#updateSuccess${id}`).show();
                    setTimeout(() => {
                        $(`#updateSuccess${id}`).hide();
                    }, 3000);
                    document.getElementById(`nameC${id}`).innerHTML = document.getElementById(`name${id}`).value;
                    document.getElementById(`jobC${id}`).innerHTML = document.getElementById(`jobtitle${id}`).value;
                }
                else{

                }
            }
            var name = document.getElementById(`name${id}`).value;
            var job = document.getElementById(`jobtitle${id}`).value;
            var dob = document.getElementById(`dob${id}`).value;
            var phone = document.getElementById(`phonenum${id}`).value;
            var addr = document.getElementById(`addr${id}`).value;
            var email = document.getElementById(`email${id}`).value;
            var sin = document.getElementById(`sin${id}`).value;
            if(job.length == 0 || name.length == 0 || dob.length == 0 || phone.length == 0 || addr.length == 0 ||
                email.length == 0 || sin.length == 0){
                // console.log("update failed")
                $(`#updateFailed${id}`).show();
                setTimeout(() => {
                    $(`#updateFailed${id}`).hide();
                },3000);
            }
            else{
                http.send(`id=${id}&name=${name}&job=${job}&dob=${dob}&phone=${phone}&addr=${addr}&email=${email}&sin=${sin}`);
            }


        }


        function loadData(callback){
            var http = new XMLHttpRequest;
            http.open("GET", "/staff/loadstaff", true);
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200){
                    var data = JSON.parse(http.response);
                    for(var i=0; i<data.length; i+=1){
                        callback(data[i]);
                    }
                }
            }
            http.send();
        }


        function addrow(data){
            var table= document.getElementById("staffTableBody");
            var row = table.insertRow();
            var moreInfoRow = table.insertRow();
            var staffid = row.insertCell(0);
            var name = row.insertCell(1);
            var job = row.insertCell(2);
            var action = row.insertCell(3);

            row.id = `row${data.id}`;
            document.getElementById(`row${data.id}`).classList.add("text-center");
            moreInfoRow.style = "background-color: #f2f2f2;"
            staffid.innerHTML = data.id;
            staffid.id = `staffid${data.id}`;
            name.innerHTML = data.name;
            name.id = `nameC${data.id}`;
            job.innerHTML = data.jobtitle;
            job.id = `jobC${data.id}`;
            action.innerHTML = `
                <div class="btn-group" role="group">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h4 class="accordion-header">
                                <button class="accordion-button collapsed acrdBtn" type="button" data-bs-toggle="collapse" data-bs-target="#more${data.id}"
                                    onclick="showMore(${data.id})">Show More</button>
                            </h4>
                        </div>
                    </div>
                    <button class="btn btn-primary delBtn" onclick="deleteStaff(${data.id})"><span class="fa fa-trash"></span></button>
                </div>`;
            moreInfoRow.innerHTML = `
                <tr>
                    <td class="hiddenRow" colspan="6">
                        <div class="accordion-body collapse" id="more${data.id}"></div>
                    </td>
                </tr>`;
        }
        
    </script>
</html>