.pad{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }  
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    }