.footer{
    background-color: #D1C4E9;
    margin: 100px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    font-size: 18px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.fa{
    padding-right: 5px;
    padding-left: 5px;
}
