#footerLineSep{
    border-top: 1px solid blue;
}

.space{
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.left{
    text-align:left;
    display: block;
}

.mid{
    text-align:center;
    display: block;
}

.right{
    text-align:right;
    display:block;
}