#jumbHeader{
    border-radius: .3px;
    padding: 150px 30px 70px 30px;
    background-color: #1761e2;
    color: white;
}


.parabody{
    font-size: 17px;
}

.section{
    margin-bottom: 70px;
    padding: 50px 0px 50px 0px;
    border-bottom: 3px ridge;
    min-height: 400px;
}

